:root {
    --celadon: #a2e3c4;
    --mint-cream: #f0f7f4;
    --ash-grey: #b3bfb8;
    --battle-ship: #7e8d85;
    --feldgrau: #3c493f;
    --white: #fff;
    --black: #000;
}
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 30px;
}
body {
    font-family: sans-serif;
}

/* NAVBAR */

#navbar-hr {
    box-shadow:  0px 0px 2px gray;
    margin-top: 10px;
}

.navbar {
    background-color: var(--white);
    color: var(--feldgrau);
    padding-top: 20px;
}
.class-name__logo a {
    display: inline-block;
    transition: 0.3s;
}
.class-name__logo a::after {
    background-color: var(--feldgrau);
    display: block;
    content: "";
    width: 0;
    height: 3px;
    transition: width 0.3s;
}
.class-name {
    display: inline-block;
}
.class-name a {
    color: var(--feldgrau);
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
}
.right-navbar {
    display: inline-block;
    float: right;
}
.class-items {
    height: 100%;
}
.class-item {
    display: inline-block;
    list-style: none;
    padding: 13.5px 10px;
}
.class-item a::after {
    background-color: var(--feldgrau);
    display: block;
    content: "";
    width: 0;
    height: 3px;
    transition: width 0.3s;
}
.class-item a:hover::after,
.class-name__logo a:hover::after {
    width: 75%;
}
.class-item a {
    color: var(--feldgrau);
    text-decoration: none;
    transition: 0.3s;
}